# Работа с данными и научные вычисления
numpy==2.2.4
pandas==2.2.2
scipy==1.15.2

# Визуализация
matplotlib==3.10.1

# Обработка изображений
scikit-image==0.21.0
opencv-python==4.11.0.86

# Глубокое обучение (DnCNN)
torch==2.6.0

# Jupyter Notebook / Lab
notebook==6.5.7
jupyterlab==4.3.6
